/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

/* BLOCK  */
body {
    background-color: #1e88e5;
}

/* BLOCK */
.postagem {
    background-color: whitesmoke;
    width: 1000px;
    margin: 0 auto;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
